In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sb
%matplotlib inline



import os
for dirname, _, filenames in os.walk('/Users/lujiaju/EE0005/Mini_project/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
import warnings
warnings.filterwarnings('ignore')

# 1. Data Preparation

## 1.1 Data Exploration

In [3]:
weather_df = pd.read_csv('weatherAUS.csv')

In [4]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [19]:
weather_df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,...,59.0,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,No
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No

## 1.2 Check the target variable (RainTomorrow)

In [6]:
# Check unique observations in the target col.
weather_df['RainTomorrow'].unique()

array(['No', 'Yes', nan], dtype=object)

<font color=darkblue>**This means that the target variable contains missing values.**</font>

In [7]:
# Number of the missing values.
weather_df['RainTomorrow'].isnull().sum()

3267

In [8]:
# 加一个柱状图！！！！！！！！！

In [9]:
# Check the percentage of missing values.
weather_df['RainTomorrow'].isnull().mean()*100

2.245978275814657

<font color=darkblue>**Since it is a relatively small amount of missing value compared to the whole dataset, and it is unreasonable to fill in random values, we choose to delete rows of these missing values from the dataset.**

In [12]:
weather_df.dropna(subset=['RainTomorrow'], inplace=True)

In [13]:
# Check the percentage of missing value again.
weather_df['RainTomorrow'].isnull().mean()*100

0.0

In [14]:
weather_df.reset_index(drop=True, inplace=True) # Reindex

In [52]:
weather_df['RainTomorrow'].value_counts()

No     107282
Yes     30804
Name: RainTomorrow, dtype: int64

## 1.3 Seperating Numeric and Categorical Variables

In [15]:
# Select numeric variables
numeric = []
for cols in weather_df.columns:
    if weather_df[cols].dtype == 'float64':
        numeric.append(cols)

In [16]:
# Viewing numberic variables
weather_df[numeric].head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,13.4,22.9,0.6,NaN,NaN,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8
1,7.4,25.1,0.0,NaN,NaN,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3
2,12.9,25.7,0.0,NaN,NaN,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2
3,9.2,28.0,0.0,NaN,NaN,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5
4,17.5,32.3,1.0,NaN,NaN,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7

In [17]:
# Select Categorical variables
categorical = []
for cols in weather_df.columns:
    if weather_df[cols].dtype == 'object':
        categorical.append(cols)

In [18]:
weather_df[categorical].head()

,Date,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,W,W,WNW,No,No
1,2008-12-02,Albury,WNW,NNW,WSW,No,No
2,2008-12-03,Albury,WSW,W,WSW,No,No
3,2008-12-04,Albury,NE,SE,E,No,No
4,2008-12-05,Albury,W,ENE,NW,No,No

## 1.4 Handle Categorical Data

In [20]:
# Counting missing values of each var.
weather_df[categorical].isnull().sum()

Date                0
Location            0
WindGustDir      9330
WindDir9am      10013
WindDir3pm       3778
RainToday        1406
RainTomorrow        0
dtype: int64

### 1.4.1 Separate 'Date' into Year, Month, Day

In [21]:
# Convert the Date variable from string to date format.
weather_df['Date']=pd.to_datetime(weather_df['Date'])

In [22]:
# Creating Year, Month and Day cols in weather_df
weather_df['Year']=weather_df['Date'].dt.year
weather_df['Month']=weather_df['Date'].dt.month
weather_df['Day']=weather_df['Date'].dt.day

In [23]:
# Drop the original Date variable
weather_df.drop(columns='Date', inplace=True)

In [24]:
weather_df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Day
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,1007.1,8.0,NaN,16.9,21.8,No,No,2008,12,1
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,1007.8,NaN,NaN,17.2,24.3,No,No,2008,12,2
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,1008.7,NaN,2.0,21.0,23.2,No,No,2008,12,3
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,1012.8,NaN,NaN,18.1,26.5,No,No,2008,12,4
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,1006.0,7.0,8.0,17.8,29.7,No,No,2008,12,5

### 1.4.2 Imputation of missing values in categorical data (Wind Direction & Rain Today)

#### Wind Direction

In [34]:
# Extract the three cols of Wind Direction. Then convert them to Boolean Truth Table.
Wind_truthTable = pd.concat([pd.DataFrame(weather_df['WindGustDir'].isnull()), 
           pd.DataFrame(weather_df['WindDir9am'].isnull()), 
           pd.DataFrame(weather_df['WindDir3pm'].isnull())], axis=1)
Wind_truthTable

        WindGustDir  WindDir9am  WindDir3pm
0             False       False       False
1             False       False       False
2             False       False       False
3             False       False       False
4             False       False       False
...             ...         ...         ...
142188        False       False       False
142189        False       False       False
142190        False       False       False
142191        False       False       False
142192        False       False       False

[142193 rows x 3 columns]

In [35]:
# Finding out the rows with more than 1 WindDir loss. (By Boolean Algebra.)
Over_one_missing = Wind_truthTable[(Wind_truthTable['WindGustDir']==True)*(Wind_truthTable['WindDir3pm']==True) +
                      (Wind_truthTable['WindDir3pm']==True)*(Wind_truthTable['WindDir9am']==True) +
                      (Wind_truthTable['WindGustDir']==True)*(Wind_truthTable['WindDir9am']==True)]

In [36]:
Over_one_missing.shape

(4107, 3)

In [37]:
Over_one_missing # True means that the correspond entry is missing.

        WindGustDir  WindDir9am  WindDir3pm
63             True       False        True
64             True        True        True
181           False        True        True
289           False        True        True
515           False        True        True
...             ...         ...         ...
141823         True        True        True
141824         True        True        True
141825         True        True        True
141826         True        True        True
141827         True        True        True

[4107 rows x 3 columns]

<font color=darkblue>**We find that the number of rows missing two or three Wind Direction observations in the overall dataset in about 4,000, which is small compared to the entire datatset. Thus, we choose to delete these rows.**

In [38]:
# Deleting rows with 2 or 3 missing wind data.
weather_df.drop(Over_one_missing.index, inplace=True)

In [39]:
weather_df.reset_index(drop=True, inplace=True) # Reindex

<font color=darkblue>**Now we have a clearer dataset with maximum one missing Wind data. We will process to determine how we should deal with these missing values.**

In [40]:
# Check countings of different observations in WindGustDir
weather_df.WindGustDir.value_counts()

W      9762
SE     9300
E      9058
N      9014
SSE    8974
S      8933
WSW    8878
SW     8776
SSW    8595
WNW    8044
NW     7991
ENE    7973
ESE    7288
NE     7039
NNW    6544
NNE    6412
Name: WindGustDir, dtype: int64

In [41]:
# Check countings of different observations in WindDir9am
weather_df.WindDir9am.value_counts()

N      11306
SE      8989
E       8965
SSE     8941
S       8421
NW      8248
W       8182
SW      8101
NNE     7926
NNW     7803
ENE     7704
ESE     7531
NE      7390
SSW     7372
WNW     7163
WSW     6801
Name: WindDir9am, dtype: int64

In [42]:
# Check countings of different observations in WindDir3pm
weather_df.WindDir3pm.value_counts()

SE     10227
W       9882
S       9573
WSW     9309
SW      9127
SSE     9123
N       8638
WNW     8638
NW      8350
ESE     8346
E       8310
NE      8056
SSW     7992
NNW     7711
ENE     7705
NNE     6429
Name: WindDir3pm, dtype: int64

In [43]:
(weather_df['WindGustDir'] == weather_df['WindDir9am']).sum()

28053

In [33]:
(weather_df['WindGustDir'] == weather_df['WindDir3pm']).sum()

41536

In [34]:
(weather_df['WindDir9am'] == weather_df['WindDir3pm']).sum()

23235

<font color=darkblue>Since there are over 10,000 data missing, we cannot simply delete all of them. One of the common but easy method to deal with missing categorical variables is just filling them with the most frequently appeared observation. However, we find that the counting of different observartions are really close to each other, thus, we decided to use a more reasonable way to fill them, i.e., filling the missing wind direction by observations nearby. This filling mechanism also has reasonable meaning in practice, which is based on wind observations from each day.

Based on statistics, we decided to:
1. fill WindGustDir by WindDir3pm, and vice versa;
2. fill WindDir9am by WindGustDir.

In [44]:
# fill na as dicussed above
weather_df.WindGustDir=weather_df.WindGustDir.fillna(weather_df.WindDir3pm)
weather_df.WindDir3pm=weather_df.WindDir3pm.fillna(weather_df.WindGustDir)
weather_df.WindDir9am=weather_df.WindDir9am.fillna(weather_df.WindGustDir)

In [45]:
# Check number of missing values again
weather_df[['WindGustDir', 'WindDir9am', 'WindDir3pm']].isnull().sum()

WindGustDir    0
WindDir9am     0
WindDir3pm     0
dtype: int64

<font color=darkblue>**Now we have a dataset with no missing Wind data.**

#### Rain Today

In [46]:
# Check number of missing values
weather_df['RainToday'].isnull().sum()

1282

In [47]:
# Show distribution of observations
weather_df['RainToday'].value_counts()

No     106350
Yes     30454
Name: RainToday, dtype: int64

Here, since number of 'No' observations overweigh 'Yes', we choose to fill the missing values with the most frequent observation, which is 'No'.

In [48]:
# Fill missing values with the most frequent observation, i.e. 'No'
weather_df['RainToday'].fillna(weather_df['RainToday'].mode()[0], inplace=True)

In [49]:
# Check missing values again
weather_df['RainToday'].isnull().sum()

0

## 1.5 Handle Numberic Data

In [41]:
# check missing values of each numeric var
weather_df[numeric].isnull().sum()

MinTemp            267
MaxTemp            127
Rainfall          1282
Evaporation      57888
Sunshine         64367
WindGustSpeed     5492
WindSpeed9am       278
WindSpeed3pm       203
Humidity9am       1356
Humidity3pm       1841
Pressure9am      11356
Pressure3pm      11299
Cloud9am         52433
Cloud3pm         54508
Temp9am            551
Temp3pm           1011
dtype: int64

In [53]:
# check the distribution of each numeric var
round(weather_df[numeric].describe())

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,137819.0,137959.0,136804.0,80198.0,73719.0,132594.0,137808.0,137883.0,136730.0,136245.0,126730.0,126787.0,85653.0,83578.0,137535.0,137075.0
mean,12.0,23.0,2.0,5.0,8.0,40.0,14.0,19.0,69.0,51.0,1018.0,1015.0,4.0,5.0,17.0,22.0
std,6.0,7.0,8.0,4.0,4.0,14.0,9.0,9.0,19.0,21.0,7.0,7.0,3.0,3.0,7.0,7.0
min,-8.0,-5.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,980.0,977.0,0.0,0.0,-7.0,-5.0
25%,8.0,18.0,0.0,3.0,5.0,31.0,7.0,13.0,57.0,36.0,1013.0,1010.0,1.0,2.0,12.0,17.0
50%,12.0,23.0,0.0,5.0,8.0,39.0,13.0,19.0,70.0,52.0,1018.0,1015.0,5.0,5.0,17.0,21.0
75%,17.0,28.0,1.0,7.0,11.0,48.0,19.0,24.0,83.0,65.0,1022.0,1020.0,7.0,7.0,22.0,26.0
max,34.0,48.0,371.0,86.0,14.0,135.0,87.0,87.0,100.0,100.0,1041.0,1040.0,9.0,9.0,40.0,47.0

In [54]:
# 画个长长的box plot

### 1.5.1 Imputation of Missing Numerical Values

In [55]:
# median imputation
for col in numeric:
    weather_df[col].fillna(weather_df[col].median(), inplace=True)

In [56]:
# check missing value after imputation
weather_df[numeric].isnull().sum()

MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustSpeed    0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
dtype: int64

### 1.5.2 Process Outliers of Numerical Values

In [46]:
# 画五个的分布图

In [47]:
# find outlier boundaries
colms=['Rainfall', 'Evaporation', 'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm']
for col in colms:
    IQR = weather_df[col].quantile(0.75) - weather_df[col].quantile(0.25)
    Lower = weather_df[col].quantile(0.25) - (IQR * 3)
    Upper = weather_df[col].quantile(0.75) + (IQR * 3)
    print(col+' outliers are values < {lowerboundary} or > {upperboundary}'.
          format(lowerboundary=Lower, upperboundary=Upper))

Rainfall outliers are values < -1.7999999999999998 or > 2.4
Evaporation outliers are values < -0.20000000000000107 or > 9.600000000000001
WindGustSpeed outliers are values < -14.0 or > 91.0
WindSpeed9am outliers are values < -29.0 or > 55.0
WindSpeed3pm outliers are values < -20.0 or > 57.0

In [48]:
# replace outliers with boundary values
weather_df['Rainfall']=np.where(weather_df['Rainfall']>2.4, 2.4, weather_df['Rainfall'])
weather_df['Evaporation']=np.where(weather_df['Evaporation']>9.6, 9.6, weather_df['Evaporation'])
weather_df['WindGustSpeed']=np.where(weather_df['WindGustSpeed']>91, 91, weather_df['WindGustSpeed'])
weather_df['WindSpeed9am']=np.where(weather_df['WindSpeed9am']>55, 55, weather_df['WindSpeed9am'])
weather_df['WindSpeed3pm']=np.where(weather_df['WindSpeed3pm']>57, 57, weather_df['WindSpeed3pm'])

In [49]:
# check values after replacement
weather_df[colms].max()

Rainfall          2.4
Evaporation       9.6
WindGustSpeed    91.0
WindSpeed9am     55.0
WindSpeed3pm     57.0
dtype: float64

<font color=blue>***We now finished the data preparation!***</font>

# 你俩从这里写，后头那部分你们应该用了会卡死

In [57]:
weather_df.isnull().sum()

Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
Year             0
Month            0
Day              0
dtype: int64

# X.X.X One Hot Encoding of Catagorical Variables (扔到Logistic Regression里面算了)

In [42]:
# RainToday
pd.get_dummies(weather_df.RainToday).head()
# This is just an illustration of the result of One Hot Encoding.

   No  Yes
0   1    0
1   1    0
2   1    0
3   1    0
4   1    0

In [43]:
from sklearn.preprocessing import OneHotEncoder

encoder=OneHotEncoder(sparse=False)

var_list = ['Location','WindGustDir','WindDir9am','WindDir3pm','RainToday']

for var in var_list:

    weather_df_encoded = pd.DataFrame(encoder.fit_transform(weather_df[[var]]))

    weather_df_encoded.columns = encoder.get_feature_names([var])

    weather_df.drop([var] ,axis=1, inplace=True)

    weather_df=pd.concat([weather_df_encoded, weather_df], axis=1)
    
weather_df

,RainToday_No,RainToday_Yes,WindDir3pm_E,WindDir3pm_ENE,WindDir3pm_ESE,WindDir3pm_N,WindDir3pm_NE,WindDir3pm_NNE,WindDir3pm_NNW,WindDir3pm_NW,...,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainTomorrow,Year,Month,Day
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1007.7,1007.1,8.0,NaN,16.9,21.8,No,2008,12,1
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1010.6,1007.8,NaN,NaN,17.2,24.3,No,2008,12,2
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1007.6,1008.7,NaN,2.0,21.0,23.2,No,2008,12,3
3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1017.6,1012.8,NaN,NaN,18.1,26.5,No,2008,12,4
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1010.8,1006.0,7.0,8.0,17.8,29.7,No,2008,12,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138081,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1024.7,1021.2,NaN,NaN,9.4,20.9,No,2017,6,20
138082,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1024.6,1020.3,NaN,NaN,10.1,22.4,No,2017,6,21
138083,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1023.5,1019.1,NaN,NaN,10.9,24.5,No,2017,6,22
138084,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1021.0,1016.8,NaN,NaN,12.5,26.1,No,2017,6,23
138085,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1019.4,1016.5,3.0,2.0,15.1,26.0,No,2017,6,24

<font color=darkblue>**Now we finished one hot encoding to the categorical variables**