In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sb
%matplotlib inline



import os
for dirname, _, filenames in os.walk('/Users/lujiaju/EE0005/Mini_project/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
import warnings
warnings.filterwarnings('ignore')

# 1. Data Preparation

## 1.1 Data Exploration

In [5]:
weather_df = pd.read_csv('weatherAUS.csv')

In [6]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [7]:
weather_df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

## 1.2 Check the target variable (RainTomorrow)

In [8]:
# Check unique observations in the target col.
weather_df['RainTomorrow'].unique()

array(['No', 'Yes', nan], dtype=object)

<font color=darkblue>**This means that the target variable contains missing values.**</font>

In [9]:
# Number of the missing values.
weather_df['RainTomorrow'].isnull().sum()

3267

In [10]:
# 加一个柱状图！！！！！！！！！

In [11]:
# Check the percentage of missing values.
weather_df['RainTomorrow'].isnull().mean()*100

2.245978275814657

<font color=darkblue>**Since it is a relatively small amount of missing value compared to the whole dataset, and it is unreasonable to fill in random values, we choose to delete rows of these missing values from the dataset.**

In [12]:
weather_df.dropna(subset=['RainTomorrow'], inplace=True)

In [13]:
# Check the percentage of missing value again.
weather_df['RainTomorrow'].isnull().mean()*100

0.0

In [14]:
weather_df.reset_index(drop=True, inplace=True) # Reindex

## 1.3 Seperating Numeric and Categorical Variables

In [15]:
# Select numeric variables
numeric = []
for cols in weather_df.columns:
    if weather_df[cols].dtype == 'float64':
        numeric.append(cols)

In [16]:
# Viewing numberic variables
weather_df[numeric].head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,13.4,22.9,0.6,NaN,NaN,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8
1,7.4,25.1,0.0,NaN,NaN,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3
2,12.9,25.7,0.0,NaN,NaN,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2
3,9.2,28.0,0.0,NaN,NaN,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5
4,17.5,32.3,1.0,NaN,NaN,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7

In [17]:




# Select Categorical variables
categorical = []
for cols in weather_df.columns:
    if weather_df[cols].dtype == 'object':
        categorical.append(cols)

In [18]:
weather_df[categorical].head()

,Date,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,W,W,WNW,No,No
1,2008-12-02,Albury,WNW,NNW,WSW,No,No
2,2008-12-03,Albury,WSW,W,WSW,No,No
3,2008-12-04,Albury,NE,SE,E,No,No
4,2008-12-05,Albury,W,ENE,NW,No,No

## 1.4 Handle Categorical Data

In [19]:
# Counting missing values of each var.
weather_df[categorical].isnull().sum()

Date                0
Location            0
WindGustDir      9330
WindDir9am      10013
WindDir3pm       3778
RainToday        1406
RainTomorrow        0
dtype: int64

### 1.4.1 Separate 'Date' into Year, Month, Day

In [20]:
# Convert the Date variable from string to date format.
weather_df['Date']=pd.to_datetime(weather_df['Date'])

In [21]:
# Creating Year, Month and Day cols in weather_df
weather_df['Year']=weather_df['Date'].dt.year
weather_df['Month']=weather_df['Date'].dt.month
weather_df['Day']=weather_df['Date'].dt.day

In [22]:
# Drop the original Date variable
weather_df.drop(columns='Date', inplace=True)

In [23]:
weather_df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Day
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,1007.1,8.0,NaN,16.9,21.8,No,No,2008,12,1
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,1007.8,NaN,NaN,17.2,24.3,No,No,2008,12,2
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,1008.7,NaN,2.0,21.0,23.2,No,No,2008,12,3
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,1012.8,NaN,NaN,18.1,26.5,No,No,2008,12,4
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,1006.0,7.0,8.0,17.8,29.7,No,No,2008,12,5

### 1.4.2 Imputation of missing values in categorical data (Wind Direction & Rain Today)

#### Wind Direction

In [24]:
# Extract the three cols of Wind Direction. Then convert them to Boolean Truth Table.
Wind = pd.concat([pd.DataFrame(weather_df['WindGustDir'].isnull()), 
           pd.DataFrame(weather_df['WindDir9am'].isnull()), 
           pd.DataFrame(weather_df['WindDir3pm'].isnull())], axis=1)
Wind

        WindGustDir  WindDir9am  WindDir3pm
0             False       False       False
1             False       False       False
2             False       False       False
3             False       False       False
4             False       False       False
...             ...         ...         ...
142188        False       False       False
142189        False       False       False
142190        False       False       False
142191        False       False       False
142192        False       False       False

[142193 rows x 3 columns]

In [ ]:
# Finding out the rows with more than 1 WindDir loss. (By Boolean Algebra.)
Over_one_missing = Wind_truthTable[(Wind_truthTable['WindGustDir']==True)*(Wind_truthTable['WindDir3pm']==True) +
                      (Wind_truthTable['WindDir3pm']==True)*(Wind_truthTable['WindDir9am']==True) +
                      (Wind_truthTable['WindGustDir']==True)*(Wind_truthTable['WindDir9am']==True)]

In [ ]:
Over_one_missing.shape

In [ ]:
Over_one_missing # True means that the correspond entry is missing.

<font color=darkblue>**We find that the number of rows missing two or three Wind Direction observations in the overall dataset in about 4,000, which is small compared to the entire datatset. Thus, we choose to delete these rows.**

In [ ]:
# Deleting rows with 2 or 3 missing wind data.
weather_df.drop(Over_one_missing.index, inplace=True)

In [ ]:
weather_df.reset_index(drop=True, inplace=True) # Reindex

<font color=darkblue>**Now we have a clearer dataset with maximum one missing Wind data. We will process to determine how we should deal with these missing values.**

In [ ]:
# Check countings of different observations in WindGustDir
weather_df.WindGustDir.value_counts()

In [ ]:
# Check countings of different observations in WindDir9am
weather_df.WindDir9am.value_counts()

In [ ]:
# Check countings of different observations in WindDir3pm
weather_df.WindDir3pm.value_counts()

In [ ]:
(weather_df['WindGustDir'] == weather_df['WindDir9am']).sum()

In [ ]:
(weather_df['WindGustDir'] == weather_df['WindDir3pm']).sum()

In [ ]:
(weather_df['WindDir9am'] == weather_df['WindDir3pm']).sum()

<font color=darkblue>Since there are over 10,000 data missing, we cannot simply delete all of them. One of the common but easy method to deal with missing categorical variables is just filling them with the most frequently appeared observation. However, we find that the counting of different observartions are really close to each other, thus, we decided to use a more reasonable way to fill them, i.e., filling the missing wind direction by observations nearby. This filling mechanism also has reasonable meaning in practice, which is based on wind observations from each day.

Based on statistics, we decided to:
1. fill WindGustDir by WindDir3pm, and vice versa;
2. fill WindDir9am by WindGustDir.

In [ ]:
# fill na as dicussed above
weather_df.WindGustDir=weather_df.WindGustDir.fillna(weather_df.WindDir3pm)
weather_df.WindDir3pm=weather_df.WindDir3pm.fillna(weather_df.WindGustDir)
weather_df.WindDir9am=weather_df.WindDir9am.fillna(weather_df.WindGustDir)

In [ ]:
# Check number of missing values again
weather_df[['WindGustDir', 'WindDir9am', 'WindDir3pm']].isnull().sum()

<font color=darkblue>**Now we have a dataset with no missing Wind data.**

#### Rain Today

In [ ]:
# Check number of missing values
weather_df['RainToday'].isnull().sum()

In [ ]:
# Show distribution of observations
weather_df['RainToday'].value_counts()

Here, since number of 'No' observations overweigh 'Yes', we choose to fill the missing values with the most frequent observation, which is 'No'.

In [ ]:
# Fill missing values with the most frequent observation, i.e. 'No'
weather_df['RainToday'].fillna(weather_df['RainToday'].mode()[0], inplace=True)

In [ ]:
# Check missing values again
weather_df['RainToday'].isnull().sum()

## 1.5 Handle Numberic Data

In [ ]:
# check missing values of each numeric var
weather_df[numeric].isnull().sum()

In [ ]:
# check the distribution of each numeric var
round(weather_df[numeric].describe())

In [ ]:
# 画个长长的box plot

### 1.5.1 Imputation of Missing Numerical Values

In [ ]:
# median imputation
for col in numeric:
    weather_df[col].fillna(weather_df[col].median(), inplace=True)

In [ ]:
# check missing value after imputation
weather_df[numeric].isnull().sum()

### 1.5.2 Process Outliers of Numerical Values

In [ ]:
# 画五个的分布图

In [ ]:
# find outlier boundaries
colms=['Rainfall', 'Evaporation', 'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm']
for col in colms:
    IQR = weather_df[col].quantile(0.75) - weather_df[col].quantile(0.25)
    Lower = weather_df[col].quantile(0.25) - (IQR * 3)
    Upper = weather_df[col].quantile(0.75) + (IQR * 3)
    print(col+' outliers are values < {lowerboundary} or > {upperboundary}'.
          format(lowerboundary=Lower, upperboundary=Upper))

In [ ]:
# replace outliers with boundary values
weather_df['Rainfall']=np.where(weather_df['Rainfall']>2.4, 2.4, weather_df['Rainfall'])
weather_df['Evaporation']=np.where(weather_df['Evaporation']>9.6, 9.6, weather_df['Evaporation'])
weather_df['WindGustSpeed']=np.where(weather_df['WindGustSpeed']>91, 91, weather_df['WindGustSpeed'])
weather_df['WindSpeed9am']=np.where(weather_df['WindSpeed9am']>55, 55, weather_df['WindSpeed9am'])
weather_df['WindSpeed3pm']=np.where(weather_df['WindSpeed3pm']>57, 57, weather_df['WindSpeed3pm'])

In [ ]:
# check values after replacement
weather_df[colms].max()

<font color=blue>***We now finished the data preparation!***</font>

# 你俩从这里写，后头那部分你们应该用了会卡死

# X.X.X One Hot Encoding of Catagorical Variables (扔到Logistic Regression里面算了)

In [ ]:
# RainToday
pd.get_dummies(weather_df.RainToday).head()
# This is just an illustration of the result of One Hot Encoding.

In [ ]:
from sklearn.preprocessing import OneHotEncoder

encoder=OneHotEncoder(sparse=False)

var_list = ['Location','WindGustDir','WindDir9am','WindDir3pm','RainToday']

for var in var_list:

    weather_df_encoded = pd.DataFrame(encoder.fit_transform(weather_df[[var]]))

    weather_df_encoded.columns = encoder.get_feature_names([var])

    weather_df.drop([var] ,axis=1, inplace=True)

    weather_df=pd.concat([weather_df_encoded, weather_df], axis=1)
    
weather_df

<font color=darkblue>**Now we finished one hot encoding to the categorical variables**